body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 10px;
  padding :10px ;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  height: 100vh;
}

.cooki {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 10px;
}
#cookieName {
  margin: 10px;
}
#cookieValue {
  margin: 10px;
}
.btn{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 20px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

li:hover {
  background-color: #e0e0e0;
}

.alert {
  padding: 10px;
  background-color: #ffc107;
  color: #333;
  border-radius: 5px;
  margin-top: 10px;
}
